body {
    background-image: url("../img/plate.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Caveat', cursive;
};

#content {
    padding-top: 50%;
    opacity: 1;
};

.list-group-item, #eat, #delete {
    display: inline-block;
}

#wing-add {
    margin-bottom: 50px;
    margin-top: 50px;
}

#wing-header {
    width: 100%;
    height: 200px;
    top: 0px;
    background-image: url("../img/wings.jpg");
    margin-left: 0;
}


